.content {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 48px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    margin: 0 16px;
  }
}
