.cover {
  position: relative;
  padding: 0 48px 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-bottom: 64px;
  }
}
