.cover__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 245px 0;
  color: #fff;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s ease-in;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    padding: 195px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    padding: 115px 0;
  }
}
@media screen and (max-width: 767px) {
  .cover__overlay {
    padding: 33px 0;
  }
}
